:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;f;
}

body, h1, h2{
margin: 0;
padding: 0;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
}

body {
    text-align: center;
}


nav{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 64px;
  width: 100%;
  background: var(--main-red);
  top: 0;
  left: 0;
  padding: 12px 60px 12px 12px;
  z-index: 10;
}
.nav-list {
display: flex;
margin-right: 48px;
list-style:none;
}
li{
  display: inline;
  padding-right:20px;
  font-size:25px;
  text-decoration: none;
}

a {
    text-decoration:none;
    color:inherit;
}
/* Welcome section */

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 64;
  background: black;
  min-height: 100vh;
  color: white;
}

#welcome-section h1 {
    font-size:50px;
}
#welcome-section p {
    font-size:32px;
}

#projects{
  background: var(--main-blue);
}

#projects .projects-headline {
font-size:32px;
    border-bottom: 0.2rem solid var(--main-white);
        max-width: 640px;
        margin:auto;
padding-top:30px;
padding-bottom:30px;
margin-bottom:30px;
}

.projects-grid {
display:flex;    
justify-content: center;
flex-wrap: wrap;
margin:0 auto;
width:100%;
padding-bottom:30px;
}

.title {
    width:100%;
    height:100px;
    background:darkslategray;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}

.project-tile {
    width:25%;
    height:300px;
    background-color:silver;
    margin:12px;
}

#contact{
  background: grey;
}

@media screen and (max-width: 400px){
  #welcome-section{
    background: blue;
  }
}